:root {
  --black: #000;
  --white: #fff;
  --red: rgb(230, 36, 36);
  --purple: #a52ceb;
  --blue: #2878e0;
  --yellow: #f4f73e;
  --pink: #e62ebe;
  --gold: #fad104;
  --aqua: #2febd2;
  --grey: #23262e;
  --grey-light-1: #21232b;
  --grey-light-2: #686f81;
  --grey-light-3: #8891a8;
  --grey-light-4: #9da8c7;
}


body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: var(--black);
    color: var(--white);
    /* font-family: 'Playfair Display', serif; */
    /* font-family: "Josefin Sans", sans-serif; */
    /* font-family: 'Rubik', sans-serif; */
    font-family: 'Roboto', sans-serif;
    /* font-family: 'Montserrat', sans-serif; */
}

li {
    list-style-type: none;
}

.container__main {
    padding: 0;
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: var(--black);
    min-height: 100vh;
}

.container__body {
    padding: 0;
    position: relative;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: space-between;
}

/* ----------------------------------------- */
/* ------------Typography------------ */
/* ----------------------------------------- */

.bold-1 {
  font-weight: 400;
}

.bold-2 {

}

.bold-3 {

}

.text-size-1 {
  font-size: 4rem;
  font-weight: 400;
}

.text-size-2 {
  font-size: 3.25rem;
  font-weight: 300;
}

.text-size-3 {
  font-size: 2rem;
    font-weight: 300;
}

.text-size-3_5 {
  font-size: 1.5rem;
  font-weight: 200;
}

.text-size-4 {
  font-size: 1.5rem;
  font-weight: 200;
}

.text-size-5 {
  font-size: 1rem;
  font-weight: 200;
}

.involved__text-p {
  transform: translateY(-0.25rem);
}

/* ----------------------------------------- */
/* ------------Route-Transitions------------ */
/* ----------------------------------------- */

.fade-enter {
  opacity: 0;
  z-index: 1;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 250ms ease-in;
}

.fade-exit {
  opacity: 0;
}



/* ----------------------------------------- */
/* ------------FLEXBOX------------ */
/* ----------------------------------------- */

.row {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.space-between {
    justify-content: space-between;
}


/* ----------------------------------------- */
/* ------------NAV------------ */
/* ----------------------------------------- */

.nav {
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: var(-black);
  border-bottom: 1px solid var(--white);
  z-index: 1000;
}

.logo__nav {
  width: 5rem;
  margin-left: 5rem;
  /* transform: translateY(0rem); */
}

.logo-sm {
  width: 3rem;
}

.nav__row {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.nav-link {
    text-decoration: none;
    color: var(--white);
    margin-right: 5rem;
}

.nav li {
    margin-right: 10px;
}

.nav__upper_container {
  display: flex;
  justify-content: space-between;
  margin: 0.5rem 0.5rem 0 0.5rem;
  /* background-color: var(--red); */
}

.nav__details {
  padding: 0 0 2rem 2rem; 
  /* background-color: var(--gold); */
}

/* ----------------------------------------- */
/* ------------HOME------------ */
/* ----------------------------------------- */
.hero {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(./img/svg/hero.svg);
  background-size: cover;
  height: 100vh;
  background-attachment: fixed;
  position: relative;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.hero__text-box-btns {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero__text-box-logo {
  padding: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 3rem;
}

.logo__home {
  width: 25.5rem;
  transform: translateX(1rem);
}

/* ----------------------------------------- */
/* ------------ABOUT------------ */
/* ----------------------------------------- */

.about {
  padding: 5rem;
}

.about__header {
  text-align: center;
  margin-bottom: 3rem;
}

.about__item {
  display: flex;
  justify-content: flex-start;
  padding: 3rem;
}

.about__text {
  display: flex;
  flex-direction: column;
  padding-left: 3rem;
}

.about__img {
  width: 40%;
  /* padding: 3rem; */
}

.about__text h3 {
  margin-top: 0;
}


/* ----------------------------------------- */
/* ------------TEAM------------ */
/* ----------------------------------------- */
.team__header {
  text-align: center;
  margin-bottom: 3rem;
}


.team {
    /* height: 100vh; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.team__members {
  padding: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.team__list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.team__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  letter-spacing: 0.25rem;
  font-size: 1.5rem;
}

.team__img {
  border-radius: 50%;
  width: 10rem;
  margin: 0.5rem;
}

.sponsor__header {
  text-align: center;
  /* margin-bottom: 3rem; */
}

.sponsor__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  letter-spacing: 0.25rem;
  font-size: 1.5rem;
  margin: 3rem 2rem;
}

.sponsor__img {
  width: 10rem;
  margin: 0.5rem;
}

.sponsors {
  margin: 1rem auto;
}

/* ----------------------------------------- */
/* ------------PRINCIPLES------------ */
/* ----------------------------------------- */

.principles {
  padding: 5rem;
}

.principles__header {
  text-align: center;
  margin-bottom: 3rem;
}

.principles__item {
  display: flex;
  justify-content: flex-start;
  padding: 3rem;
}

.principles__text {
  display: flex;
  flex-direction: column;
  padding-left: 3rem;
}

.principles__img {
  width: 40%;
  /* padding: 3rem; */
}

.principles__text h3 {
  margin-top: 0;
}

/* ----------------------------------------- */
/* ------------Involved------------ */
/* ----------------------------------------- */

.involved {
  padding: 5rem;
}

.involved__header {
  text-align: center;
  margin-bottom: 3rem;
}

.involved__items-container {
  display: flex;
  justify-content: space-evenly;
}

.involved__item {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  padding: 3rem;
}

.involved__text {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  text-align: center;
}

.involved__img {
  width: 70%;
  border-radius: 50%;
  margin-bottom: 2.5rem;
}

.involved__text h3 {
  margin-top: 0;
}



/* ----------------------------------------- */
/* ------------SIDEBAR------------ */
/* ----------------------------------------- */
.sidebar-list {
  display: flex;
  padding: 10px;
  flex-direction: column;
  padding: 0;
}

.sidebar-list-item:visited,
.sidebar-list-item:link {
  text-decoration: none;
  /* color: var(--white); */
}

/* ----------------------------------------- */
/* ------------FORM------------ */
/* ----------------------------------------- */
.form {
  height: 30rem;
  padding: 5rem;
  background: var(--black);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr); 
  grid-column-gap: 2rem;
  justify-items: center;
  align-items: center;
  justify-content: space-between;
  align-content: space-between;
  /* align-items: center; */
}

.form__footer {
  height: 25rem;
  padding: 0.5rem;
  margin-right: 3rem;
  background: var(--grey);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr); 
  grid-column-gap: 2rem;
  justify-items: center;
  align-items: center;
  justify-content: space-between;
  align-content: space-between;
  /* align-items: center; */
}

.form h3 {
  grid-column: 1 / span 2;
  /* font-size: 2rem; */
}

.form__header {
  position: relative;
}

.form__success-message {
  color: var(--red);
  position: absolute;
  /* animation: animate 3s ease-out; */
}

@keyframes animate {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}

.form__content {
  align-self: start;
  justify-self: start;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: space-between;
}

.form__element {
  /* display: flex;
  flex-direction: column; */
  width: 100%;
  height: 1rem;
  margin: 1.5rem;
}

.form__input,
.form__textarea {
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.5rem;
  font-weight: 300;
  padding: 0.8rem;
  border-radius: 3px;
  border-bottom: 1px solid #ccc;
  transition: all 0.2s;
  margin-top: 0.5rem;
  outline: none;
  width: 140%;
}

.input__footer {
  width: 80%;
}

.form__textarea {
 height: 13rem;
 width: 140%;
}

.form__input:hover,
textarea:hover {
  border: 1px solid var(--black);
}

.form__input:hover,
textarea[placeholder="Please enter your message here."]:hover {
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.5rem;
  font-weight: 300;
  padding: 0.8rem;
  border-radius: 3px;
  border: 1px solid #ccc; }

/* ----------------------------------------- */
/* ------------BUTTONS------------ */
/* ----------------------------------------- */
.btn {
  font-size: 1.4rem;
  font-weight: 500;
  line-height: inherit;
  text-transform: uppercase;
  background-color: transparent;
  padding: 1rem;
  cursor: pointer;
  transition: all 0.2s;
  color: var(--white);
  border: 1px solid var(--white);
  text-decoration: none; 
  
}

.btn:active {
  transform: translateY(1.1rem);
}

.btn:hover {
  background-color: var(--white);
  color: var(--grey);
  transform: translateY(3.2rem);
}

.btn__form {
  align-self: flex-end;
  width: 85%;
  transform: translateY(3.5rem);
}

.btn__involved {
  width: 100%;
}

.btn__involved:active {
  transform: translateY(.1rem);
}

.btn__involved:hover {
  background-color: var(--white);
  color: var(--grey);
  transform: translateY(-.2rem);
}

/* .btn__contact {
  transform: translateY(30.5rem);

} */

/* ----------------------------------------- */
/* ------------NEON BTN------------ */
/* ----------------------------------------- */
.btn__header-container {
  display: flex;
  align-items: center;
}
.btn__glow-container {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.btn__glow-item{
    position: relative;
    display: inline-block;
    padding: 15px 20px;
    margin-top: 1rem;
    color: var(--red);
    background-color: transparent;
    border: 1px solid var(--red);
    font-size: 14px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: 0.5s;
    letter-spacing: 4px;
    /* -webkit-box-reflect: below 1px linear-gradient(transparent, #0005) */
}

/* .btn__glow-item:nth-child(1) {
  filter: hue-rotate(290deg);
}

.btn__glow-item:nth-child(2) {
  filter: hue-rotate(90deg);
} */

/* a:nth-child(1) {
    filter: hue-rotate(290deg);
}

a:nth-child(2) {
    filter: hue-rotate(70deg);
} */

.btn__glow-item:hover{
    background: var(--red);
    color: #050801;
    box-shadow: 0 0 5px var(--red),
                0 0 25px var(--red),
                0 0 50px var(--red),
                0 0 200px var(--red);
}

.btn__glow-item span {
    position: absolute;
    display: block;
}


/* ----------------------------------------- */
/* ------------FOOTER------------ */
/* ----------------------------------------- */
.footer {
  width: 100%;
  bottom: 0;
  text-align: center;
  vertical-align: middle;
  /* margin: 0 2rem 0 0; */
  background-color: var(--grey);
  display: flex;
}

.footer__pre-space {
  content: ' ';
  background-color: var(--grey-light-2);
  height: 3rem;
}

.footer:before {
  content: ' ';
  border-top: 5rem solid var(--grey-light-2);
}

.subscription {
  width: 50%;
  justify-self: end;
  margin-right: 7rem;
  display: flex;
  flex-direction: column;
}

.legal {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.footer__form {
  height: 20%;
}

.legal_and_social_media_links {
  background-color: var(--grey);
  align-self: flex-end;
  margin-bottom: 1.5rem;
}

.social-media-icons__list {
  display: flex;
  justify-content: space-between;

}


.social-media-icon:hover {
  fill: 1px solid var(--black);
}

.footer__details {

}


.footer__location_and_links {
  margin: 0.5rem 0 0 3rem;
}